<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= todo ? 'Edit Todo' : 'Create Todo' %></title>
</head>
<body>
    <h1><%= todo ? 'Edit Todo' : 'Create Todo' %></h1>
    
    <form action="<%= todo ? '/todos/' + todo.id : '/todos' %>" method="POST">
        <% if (todo) { %>
            <input type="hidden" name="_method" value="PUT">
        <% } %>
        <label for="title">Title</label>
        <input type="text" id="title" name="title" value="<%= todo ? todo.title : '' %>" required>
        
        <label for="description">Description</label>
        <textarea id="description" name="description"><%= todo ? todo.description : '' %></textarea>

        <label for="isCompleted">Completed</label>
        <input type="checkbox" id="isCompleted" name="isCompleted" <%= todo && todo.isCompleted ? 'checked' : '' %>>

        <button type="submit"><%= todo ? 'Update Todo' : 'Create Todo' %></button>
    </form>

    <a href="/todos">Back to Todo List</a>
</body>
</html>
